## Username and password of an iLO administrator account.
USERNAME="Administrator"
PASSWORD="alakazam"

# The iLO FQDN is HOSTNAME.DOMAIN e.g. ilo.mydomain.com
HOSTNAME="ilo"
DOMAIN="mydomain.com"

# Set to 1 for testing. This will use the LE staging server to avoid hitting LE rate limits. Remove or set to 0 (default) to deploy a valid certificate.
STAGING=1

# Set to a valid DNS Provider (default is Cloudflare). More information on supported providers at https://github.com/acmesh-official/acme.sh/wiki/dnsapi. 
# DNSAPI="dns_cf"
